@import "styles.scss";

/* general */

.page-padding {
    padding-bottom: 2%;
    padding-top: 2%;
}


/* login form */


/* labels */

label {
    display: inline-block;
    font-weight: bold;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}


/* input */

input {
    width: 100% !important;
    border: solid #c2c2c2 1px;
    font-size: 16px;
    padding: 0.5%;
}


/* button */

.button-prop {
    color: #000000;
    font-size: 16px;
    background-color: #ffffff;
    padding: 5px 10px 5px 10px;
    border: solid #c2c2c2 1px;
    text-decoration: none;
    max-width: 15%;
}

.button-pad {
    padding-top: 2%;
    padding-bottom: 1%;
}
