body {
    font-family: 'Helvetica';
    margin: 0 auto !important;
}

.main-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
}

hr {
    color: #ccc;
    margin: 0px;
}

header {
    img {
        width: 100%;
        height: auto;
    }
}

.nav-horizon {
    max-width: 1020px !important;
    padding: 0px !important;
}

nav {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #ccc;
    ul {
        padding-left: 0px !important;
        margin: 0px;
        line-height: 42px;
    }
    li {
        padding: 0px 10px 0px 10px;
        float: none;
        font-size: 12px;
        display: inline-block;
        list-style: none;
    }
    a {
        letter-spacing: 1px;
        color: #777;
        float: none;
        text-transform: uppercase;
        text-decoration: none;
    }
    li:hover {
        background-color: #e7e7e7;
        transition: 0.3s;
    }
}

.login {
    float: right !important;
}

main {
    aside {
        color: #333333;
    }
    i {
        padding-top: 20px;
    }
    article {}
    h2 {
        font-size: 20px;
        max-width: 100%;
        text-transform: uppercase;
    }
    p {
        color: #333333;
        font-size: 12px;
        padding-bottom: 10px;
    }
    img {
        width: 100%;
        margin: 0 auto;
    }
}

footer {
    text-align: center;
    text-transform: uppercase;
}


/* media queries */

@media only screen and (min-width: 26em) {
    body {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}

@media only screen and (min-width: 48em) {
    body {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}

@media only screen and (min-width: 62em) {
    body {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}

@media only screen and (min-width: 75em) {
    body {
        padding-left: 1%;
        padding-right: 1%;
    }
}
